.category
  %h1
    Uncategorized Favorites (#{@faves_without_categories.length})

  .tweets.index.category
    - @faves_without_categories.each do |fave|
      = render :partial => 'layouts/fave', :object => fave
- @categories.each do |category|
  .category
    %h1
      #{category[:name]} (#{category[:tweets].length})
  .tweets.category
    - category[:tweets].each do |fave|
      = render :partial => 'layouts/fave', :object => fave
